name: CI/CD - SmartMoviePlatform

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push AuthService
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./AuthService/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/auth-service:latest

      - name: Build and push MovieService
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./MovieService/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/movie-service:latest

      - name: Build and push WatchlistService
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./WatchlistService/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/watchlist-service:latest

      - name: Build and push InternalGateway
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./InternalGateway/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/gateway:latest
          
  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          
      - name: Deploy AuthService to Azure
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'authservice-app'
          images: 'doina1992/auth-service:latest'
    
      - name: Deploy MovieService to Azure
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'movieservice-app'
          images: '${{ secrets.DOCKER_USERNAME }}/movie-service:latest'

      - name: Deploy WatchlistService to Azure
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'watchlist-service'
          images: '${{ secrets.DOCKER_USERNAME }}/watchlist-service:latest'

      - name: Deploy InternalGateway to Azure
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'gateway-app'
          images: '${{ secrets.DOCKER_USERNAME }}/gateway:latest'
        
  
  
    
